* {
    --main-color: #005566;
    --secondary-color: #00444f;
}
.card {
    border-radius: 0.5rem;
}
.bg-main {
    background-color: var(--main-color);
}
.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.btn-primary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 85, 102, 0.25);
}
.input-group-text {
    border: none;
    background: #f8f9fa;
}
